<div class="row">
    <div class="panel panel-primary mx-auto">
        <div class="panel-heading">
            <h3 class="panel-title text-center">Productos</h3>
        </div>
        <table class="table">
            <thead>
                <tr>               
                    <td>ID</td>
                    <td>Producto</td>
                    <td>Stock</td>
                    <td>Precio</td>
                    <td>Descripcion</td>
                    <td> </td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let Product of Productos">               
                    <td>{{Product.IDProduct}}</td>
                    <td>{{Product.ProductName}}</td>
                    <td>{{Product.Stock}}</td>
                    <td>Q. {{Product.Price}}</td>
                    <td>{{Product.Description}}</td>
                    <td><button class="btn btn-success" id={{Product.IDProduct}} (click)="addToCar(Button)" #Button>Agregar a Carro</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>