<div class="row">
    <div class="panel panel-primary mx-auto">
        <div class="panel-heading">
            <h3 class="panel-title text-center">Productos</h3>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <td>ID</td>
                    <td>Producto</td>
                    <td>Stock</td>
                    <td>Precio</td>
                    <td>Descripcion</td>
                    <td> </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Producto1</td>
                    <td>XXX</td>
                    <td>QXX.XX</td>
                    <td>Descripcion</td>
                    <td><button class="btn btn-success">Agregar a Carro</button></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Producto2</td>
                    <td>XXX</td>
                    <td>QXX.XX</td>
                    <td>Descripcion</td>
                    <td><button class="btn btn-success">Agregar a Carro</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>