<div class="row">
        <div class="panel panel-primary mx-auto">
            <div class="panel-heading">
                <h3 class="panel-title text-center">Reporte de Ventas por Productos</h3>
            </div>
            <table class="table">
                <thead>
                    <tr>               
                        <td>ID</td>
                        <td>Nombre de Producto</td>
                        <td>Cantidad de  veces vendido</td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor = "let Report of Reports">               
                        <td>{{Report.IDProduct}}</td>
                        <td>{{Report.ProductName}}</td>
                        <td>{{Report.Times}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
